In [ ]:
# importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [ ]:
# Mounting google drive
from google.colab import files
uploaded = files.upload()

In [ ]:
# Importing dataset
dataset = pd.read_csv("used_car_sales.csv")

In [ ]:
dataset

In [ ]:
# Description of the data
dataset.describe()

In [ ]:
# Information of the data
dataset.info

In [ ]:
# checking missing values
dataset.isnull().sum()

In [ ]:
#Print Total number of Rows & columns in dataset
dataset.shape

In [ ]:
# print Information Datatypes
datatypes = dataset.dtypes
print(datatypes)

In [ ]:
dataset.head()

In [ ]:
dataset.tail()

In [ ]:
# drop null values
dataset.dropna(inplace = True)

In [ ]:
dataset.shape

In [ ]:
# find number of columns
dataset.columns

In [ ]:
# find description of the data again after droping null values
dataset.describe()

In [ ]:
# Use describe() for specific columns
dataset[['pricesold', 'Mileage', 'Year', 'NumCylinders']].describe()

In [ ]:
# Exploratory Data Analysis
# Year and price sold
dataset.groupby(['Year'], as_index=False)['pricesold'].sum().sort_values(by='pricesold', ascending=False)

In [ ]:
sales_year = dataset.groupby(['Year'], as_index = False)['pricesold'].sum().sort_values(by='pricesold', ascending = False).head(10)
sns.barplot(x = 'Year', y = 'pricesold', data = sales_year)
plt.show()
# From the below graph we can see in the year 2017, 2018, 2016 and 2015
# The pricesold is higher

In [ ]:
# show columns
dataset.columns

In [ ]:
# Exploratory Data Analysis
# Year and year sold
dataset.groupby(['Year'], as_index=False)['yearsold'].sum().sort_values(by='yearsold', ascending=False)

In [ ]:
# year vs year sold
sales_year = dataset.groupby(['Year'], as_index = False)['yearsold'].sum().sort_values(by ='yearsold', ascending=False).head(10)
sns.barplot(x = 'Year', y = 'yearsold', data = sales_year)
plt.show()
# From the below data we saw From the year 2004 to 2008
# Price sold is really higher

In [ ]:
# rename columns
dataset.rename(columns= {'Make':'Car Name'}, inplace = True)

In [ ]:
dataset.columns

In [ ]:
# Milage VS Make
dataset.groupby(['Car Name'], as_index = False)['Mileage'].sum().sort_values(by = 'Mileage', ascending = False)

In [ ]:
# Visualise on the graph
sales_make = dataset.groupby(['Car Name'], as_index = False)['Mileage'].sum().sort_values(by = 'Mileage',ascending = False).head(10)
sns.set(rc={'figure.figsize':(18,5)})
sns.barplot(x = 'Car Name', y = 'Mileage', data = sales_make)
plt.show()
# From the below graph we can see
# Ford and Chevrolet have high Mileage

In [ ]:
dataset.columns

In [ ]:
# Car Name Vs Year
dataset.groupby(['Car Name'], as_index = False)['Year'].sum().sort_values(by = 'Year', ascending = False)

In [ ]:
sales_Year = dataset.groupby(['Car Name'], as_index = False)['Year'].sum().sort_values(by = 'Year', ascending = False).head(10)
sns.barplot(x = 'Car Name', y = 'Year', data = sales_Year)
plt.show()

In [ ]:
# Car Name Vs NumCylinders
dataset.groupby(['Car Name'], as_index = False)['NumCylinders'].sum().sort_values(by = 'NumCylinders', ascending = False)

In [ ]:
sales_Year = dataset.groupby(['Car Name'], as_index = False)['NumCylinders'].sum().sort_values(by = 'NumCylinders', ascending = False).head(3)
sns.barplot(x = 'Car Name', y = 'NumCylinders', data = sales_Year)
plt.show()

In [ ]:
dataset.columns

In [ ]:
# Yearsold VS Model
dataset.groupby(['yearsold'], as_index = False)['Model'].sum().sort_values(by = 'Model', ascending = False).head(10)

In [ ]:
sales_Model = dataset.groupby(['Model'], as_index = False)['yearsold'].sum().sort_values(by = 'yearsold', ascending = False).head(10)
sns.barplot(x = 'Model', y = 'yearsold', data = sales_Model)
plt.show()

In [ ]:
# pricesold VS Model
dataset.groupby(['pricesold'], as_index = False)['Model'].sum().sort_values(by = 'Model', ascending = False).head(10)

In [ ]:
sales_Model = dataset.groupby(['Model'], as_index = False)['pricesold'].sum().sort_values(by = 'pricesold', ascending = False).head(10)
sns.barplot(x = 'Model', y = 'pricesold', data = sales_Model)
plt.show()

In [ ]:
# Engine VS Mileage
dataset.groupby(['Engine'], as_index = False)['Mileage'].sum().sort_values(by = 'Mileage', ascending = False).head(10)

In [ ]:
sales_Model = dataset.groupby(['Engine'], as_index = False)['Mileage'].sum().sort_values(by = 'Mileage', ascending = False).head(10)
sns.barplot(x = 'Engine', y = 'Mileage', data = sales_Model)
plt.show()
# From the below graph we see 350 Engine has more mileage as compared to other

In [ ]:
dataset.columns

In [ ]:
# BodyType VS NumCylinders
dataset.groupby(['BodyType'], as_index = False)['NumCylinders'].sum().sort_values(by = 'NumCylinders', ascending = False).head(10)

In [ ]:
sales_BodyType = dataset.groupby(['BodyType'], as_index = False)['NumCylinders'].sum().sort_values(by = 'NumCylinders', ascending = False).head(4)
sns.set(rc={'figure.figsize':(25,5)})
sns.barplot(x = 'BodyType', y = 'NumCylinders', data = sales_BodyType)
plt.show()

In [ ]:
# Mileage vs DriveType
dataset.groupby(['DriveType'], as_index = False)['Mileage'].sum().sort_values(by = 'Mileage', ascending = False).head(10)

In [ ]:
sales_DriveType = dataset.groupby(['DriveType'], as_index = False)['Mileage'].sum().sort_values(by = 'Mileage', ascending = False).head(10)
sns.set(rc={'figure.figsize':(15,5)})
sns.barplot(x = 'DriveType', y = 'Mileage', data = sales_DriveType)
plt.show()

In [ ]:
# Conclusion:=>
# This project aims to improve consumer experience by analyzing Car sales data.
# 1. We discovered that the price sold was increased in 2015, 2016, 2017, and 2018.
# 2. The age range from 2004 to 2008 is significantly higher.
# 3. Ford, Chevrolet, and Dodge vehicles get good gas mileage.
# 4.Compared to other cars, Ford has more cylinders.
# 5. Customer preference is greater for the Mustang and F-150,
# 6.and  the 350 and 289 engines offer good mileage.
# 7. Drive Types with RWD, 4WD, and FWD get superior mileage